@media screen and (max-width: 992px) {
  #fh5co-event {
    height: inherit;
    padding: 7em 0;
  }
  #fh5co-event .display-t,
  #fh5co-event .display-tc {
    height: inherit;
  }

  #fh5co-event .event-wrap{
    margin-bottom: 20px;
  }
}

#fh5co-services{
  background-color: white!important;
}

#fh5co-started .form-control{
    border: solid thin #ffc7df!important;
    font-size: 19px!important;
}

#NoiDi{
    color: white!important;
}

#NoiDi:focus{
  color: #070707!important;
}


#myModal .modal-header{
  border-bottom: none;
}
#myModal .d-flex{
    display: flex;
    justify-content: center;
}

#myModal .d-flex img{
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

#myModal .text-head{
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  color: #f14e95;
  font-size: 26px;
}
#myModal .text-bottom{
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  color: #f14e95;
  font-size: 26px;
}



#modalThankyou .modal-header{
  border-bottom: none;
}
#modalThankyou .d-flex{
    display: flex;
    justify-content: center;
}


#modalThankyou .text-head{
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  color: #f14e95;
  font-size: 26px;
}
#myModal .text-bottom{
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  color: #f14e95;
  font-size: 26px;
}
#modalDTCR .text-bottom{
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  color: #f14e95;
  font-size: 26px;
}
#modalDTCD .text-bottom{
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  color: #f14e95;
  font-size: 26px;
}